<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="newSuite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testCases.CheckOutPage_Test"/>
      <class name="testCases.LoginPageTest"/>
      <class name="testCases.CheckOutPage1_Test"/>
      <class name="testCases.CartIcon_Test"/>
      <class name="testCases.InventoryPage_Test"/>
      <class name="testCases.FinishPage_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- newSuite -->
